*{margin: 0;
    padding: 0;
  }
  body{
    font-family:'Lato';
    font-weight: bold;
    font-size: 0.9rem;

}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
.nomargin{
    margin: 0;
}
.Logo{
    margin-left: 4rem;
    padding-top: 0.4rem;
}
        
a{
    text-decoration:  none;
    color: black;
}
nav > a{margin-left: 50px;
}

.input{
    background-color:white;
    border-radius: 10px;
    margin-left: 15rem;
    padding-left: px;
    color: gray;
}
    
.inputSearch{
    background-color:white ;
    border: 0;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
}
.logImg{
    width: 35px;
    border-radius: 80%;
    background-color: rgb(255, 166, 0);
}
.batman{
    width: 100%;
    cursor: pointer;
}
.name{
    padding-right: 6rem;
    display: flex;
}
.iconName{
    padding: 0.3rem 1.5rem;
    color: gray;
    cursor: pointer;
}





